@charset "utf-8";
/* CSS Document */

p 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
}



body
{
margin:0;
padding:0;
}

#main
{
margin:auto;
}

#header
{
width:100%px;
height:155px;
background:url(../images/Reports_Bg.jpg);
background-repeat:repeat-x;
}

#icons
{
width:1024px;
height:30px;
float:right;
margin-right:20px;
line-height:25px;
}


.logout
{
float:right;

}
.home
{
float:right;
margin-right:20px;
}


#reports
{
	margin:0 auto;
background:url(../images/reports.png);
background-repeat:no-repeat;
width:455px;
height:150px;
}

#welcome
{
float:right;
width:400px;
margin-top:70px;
}

#welcome p
{
float:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
margin-right:30px;
}

#footer
{
background:url(../images/Reports_footer.jpg);
background-repeat:repeat-x;
width:100%%;
height:40px;
clear:both;
}

#footer p 
{
font-family:verdana;
font-size:12px;
line-height:35px;
color:#FFFFFF;
margin-left:10px;
}