@charset "utf-8";
/* CSS Document */

body
{
background:url(../images/sales_Bg.jpg);
background-repeat:repeat-x;
background-position:top;
margin:0;
padding:0;

}

#main
{
width:100%;
margin:0 auto;
padding:0;
min-height:100%;
position:relative;
}

#header
{
width:100%;
height:160px;
}

#header1
{
width:100%;
height:30px;
float:right;
margin-right:20px;
line-height:25px;
}

#account
{
background:url(../images/sales.png);
background-repeat:no-repeat;
width:450px;
height:150px;
margin:0 auto;
}

#header1 a
{
color:#CCCCCC;
font-family:Verdana;
font-size:12px;
float:right;
margin-right:20px;
}

#content
{
float:left;`
margin:0 auto;
text-align:center;
}



#login1
{
width:1006px;
height:430px;
background:url(../images/sales_content.jpg);
background-repeat:no-repeat;
margin:0 auto;
text-align:center;
/*padding-top:50px;*/
}


#footer
{
background:url(../images/sales_footer.jpg);
background-repeat:repeat-x;
border:0px;
width:100%;
height:40px;
bottom:0;
left:0px;
position:absolute;
}


